.head{
  border-radius: 25px;
  padding: 3px;
  background-color: aquamarine;
  text-align: center;
}
#b1{
  text-align: center;
  background-color: red;
}
#b2{
  text-align: right;
  background-color: skyblue;
}

.rb{
  background-color: khaki;
  padding: 12px;
}