.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(250, 180, 41);
  border-bottom: 1px solid #ddd;
}
.logo {
  font-size: 24px;
}
.headh {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}