@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Song+Myung&display=swap');

* {
  font-family: "Black Han Sans", "Song Myung";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 20px;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  width: 70%;
  background-color: pink;
  border-radius: 1rem;
}

.container ul {
  width: 300px;
  margin: 0 auto;
}

label {
  display: inline-block;
  padding: 10px;
}

input {
  display: inline-block;
  width: 100%;
  outline: none;
  height: 2rem;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 10px;
}

input:focus {
  border: 3px solid rgb(237, 106, 106);
}

.btn-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

button {
  margin: 1rem;
  height: 2rem;
  width: 8rem;
  font-size: 1.5rem;
}